doctype html
html
  head
    title #{name} | Resume
    link(href='styles.css' rel='stylesheet' type='text/css')
  body
    article.resume
      header
        h1= name
        ul.contact-methods
          li.phone= phone
          li.email
            a(href='mailto:#{email}') #{email}
          li.website
            a(href='http://#{website}') #{website}
      hr
      section.summary
        h2 Summary
        ul.highlights
          each point in summary
            li= point

      section.education
        h2 Education

        h3.title= education.degree
        .dates
          span= education.from
          span.range &mdash;
          span= education.to
        .details
          span.school= education.school
          if education.school && education.location
            span.comma ,
          span.location= education.location
        ul.highlights
          each highlight in education.highlights
            li= highlight

      section.experience
        h2 Experience

        each role in experience
          .role
            h3.title= role.title
            .dates
              span= role.from
              span.range &mdash;
              span= role.to
            .details
              span.company= role.company
              if role.company && role.location
                span.comma ,
              span.location= role.location

            p.summary= role.summary

            ul.highlights
              each highlight in role.highlights
                li= highlight

      section.skills
        h2 Skills

        each skill in skills
          .skill
            span.heading= skill.heading
            span.details= skill.details

      section.projects
        h2 Projects

        each project in projects
          .project
            h3.title= project.title
            .dates
              span= project.from
              span.range &mdash;
              span= project.to
          .details
            a(href='#{project.url}') #{project.url}
          p= project.summary


      if settings.attribution
        footer.source
          small View this resume's source: <a href="http://github.com/allenan/resume">github.com/allenan/resume</a>
